
body {
  background-color: rgb(26, 112, 112);
  margin: 0;
}

h1 {
  color: white;
  font-family: "Dancing Script", cursive;
}

.content {
  margin: 0 auto;
  width: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#city {
  text-transform: capitalize;
  font-family: "Kaushan Script", cursive;
  padding: 5px;
  width: 230px;
  border-radius: 4px;
  box-shadow: 2px;
  margin-bottom: 1-px;
}

.submit {
  padding: 6px;
  border-radius: 8px;
  background-color: rgb(190, 160, 27);
  margin-bottom: 10px;
}

.submit:hover {
  background-color: rgb(223, 197, 84);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container {
  background-color: aliceblue;
  border-style: inset;
  margin-top: 20px;
  margin-right: 10px;
  width: 270px;
  padding: 5px;
  border-radius: 10px;
  height: auto;
}

.photo {
  float: left;
  width: 60px;
  padding-right: 15px;
}

.text {
  display: inline;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
}

.desc {
  text-transform: capitalize;
}

#Delete {
  float: right;
  padding-right: 1px;
  text-decoration: none;
}

#Delete:hover {
  padding-right: 0px;
  border: 1px solid grey;
}

.notification {
  position: absolute;
  top: 16px;
  right: 16px;
  animation-name: fade-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: linear;
  padding: 16px 24px;
  border-radius: 8px;
}

.success {
  background-color: rgb(135, 234, 135);
  color: black;
  border: 1px solid rgb(2, 73, 2);
}

.error {
  background-color: rgb(255, 123, 123);
  color: black;
  border: 1px solid rgb(149, 14, 14);
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (max-width: 768px) {
  /* body{
    max-width: fit-content;
  } */
  .content {
    max-width: fit-content;
    width: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }
  .notification {
    position: absolute;
    top: 50px;
    right: 4px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  body{
    max-width: device-width; 
    
  }
  .grid {
    display: grid;
    grid-template-columns: auto;
  }
  .notification {
    font-size: small;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 8px 12px;
  }
}
