<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Weather</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Poppins:ital,wght@1,200&display=swap');
    </style>
</head>
<body>
    {% block body %}{% endblock %} 
</body>
</html>